<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameRate</title>
    <link rel="icon" href="../static/images/GamRAte.png">

    <link rel="stylesheet" href="../static/style.css" >
</head>
<body>
    <nav>
        <ul>
            <li><img src="../static/images/GamRAte.png" alt="GAMERATE" width="80px"/></li>
            <li><a href="/"><h2>HOME</h2></a></li>
            <li><a href="/ratings"><h2>AVALIAÇÕES</h2></a></li>
        </ul>
    </nav>

    <article>
        <div class="flex-section">
            <h1>AVALIE!</h1>
            <form action="/enviar" method="post">
                <input type="text" name="nome" placeholder="Nome do Jogo">
                <input type="number" min="1" max="10" name="nota" placeholder="Nota de 1 a 10">

                <button type="submit">Enviar</button>
            </form>



        </div>

    </article>

</body>
</html>